body {
  font-family: 'Open Sans', sans-serif;
}

.button {
  font-size: 18px;
  color: rgb(32, 32, 58);
  padding: 5px;
}

.main {
  display: grid;
  grid-template-columns: 40% auto;
  column-gap: 20px;
  row-gap: 20px;
}

.wrapper-left,
form {
  justify-self: end;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 5px;
}

.error-heading {
  font-weight: bold;
}

.error-text,
.error-heading {
  color: red;
}

.card-list {
  height: 400px;
  overflow: auto;
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  background-color: rgb(224, 231, 247);
  padding: 0 10px;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-info__avatar {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  object-fit: cover;
}
